<!--A mix for the map page and the camps page for now -->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <h2>Currently assigning for camp: {{currentCamp.description}}</h2>
  <h3>({{currentCamp.dateRangeText()}})</h3>
</div>
<div>
	<label>Camp Description</label>
	<input [(ngModel)]="currentCamp.description" placeholder='description'>
</div>
<h2>Camps for 2017</h2>
<ul class='camps'>
	<li *ngFor='let camp of camps'>
		<span class='badge'>{{camp.description}}</span>
		({{camp.dateRangeText()}})
	</li>
</ul>

