<!-- Camps editor page -->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <h2>Camps for 2017</h2>
</div>
<h2>Select a camp to update</h2>
<ul class='camps'>
  <li *ngFor='let camp of camps' (click)='onSelect(camp)' [class.selected]='camp.id == selectedCampId'>
    <span class='badge'>{{camp.description}}</span>
    		({{camp.dateRangeText()}})
  </li>
</ul>
<div>
  <p>
    <label>Camp Description</label>
    <input [(ngModel)]="updateDescription" placeholder='description'>
  </p>
  <p>
    <label>Camp Start Date</label>
    <input type='date' [(ngModel)]="updateStartDateText">
  </p>
  <p>
    <label>Camp End Date</label>
    <input type='date' [(ngModel)]="updateEndDateText">
  </p>
  <button (click)='saveEditor()' >Update</button>
</div>
